<body>
    <main class="sign-in">
        <!------ login part Start -->
        <div class="sign-in-main">
            <div class="sign-in-left"
                style="background-image: url('assets/images/login-left-img.png');background-size:cover;">
                <div class="logo" (click)="openComponent('home')"><img src="assets/images/logo.svg" alt="img"></div>
                <div class="login-bottom-img">
                    <img src="assets/images/login-left-bottom.png" alt="img">
                </div>
            </div>
            <div class="sign-in-right">
                <h3>Don't have an account? <button (click)="openComponent('register')">Signup</button></h3>
                <h2>Welcome to <strong>HomeU</strong></h2>
                <p class="paragraph-text">We make it easy for everyone to fetch data for your <br>properties to take control of your rental
                    history.</p>

                <form [formGroup]="form">

                        <mat-form-field class="form-group" appearance="outline" [hideRequiredMarker]="hideRequiredMarker">
                            <mat-label for="email">Email</mat-label>
                            <input matInput formControlName="email" type="email" class="form-control" id="email"
                            placeholder="Enter email">
                        </mat-form-field>

                        <mat-form-field class="form-group" appearance="outline" [hideRequiredMarker]="hideRequiredMarker">
                            <mat-label for="password">Password</mat-label>
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" id="password">
                            <p mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </p>
                        </mat-form-field>

                        <div class="form-group">
                            <label class="check">Remember me
                                <input formControlName="checkBox" class="form-control" type="checkbox" >
                                <span class="checkmark"></span>
                            </label>
                            <a (click)="openComponent('forgot-password')">Forgot Passord?</a>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="openComponent('dashboard')">Login</button>

                </form>
            </div>
        </div>
        <!------ login part close -->
    </main>
</body>