<body>
    <main class="incident-report dashboard">
        <!------ top nav part Start -->
        <app-header></app-header>
        <!------ top nav part close -->
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="left-bar admin" style="background-image: url(assets/images/admin-bg-left.png);"> -->
                    <div class="left-bar admin">
                    <div class="content-left mCustomScrollbar">
                        <ul>
                            <li><a href="Dashboard.html" class="active"><span><img src="assets/images/dashboard.svg"
                                            alt="icon"></span>Dashboard</a></li>
                            <li><a href="Workout-plan.html" data-toggle="collapse" data-target="#demo"><span><img
                                            src="assets/images/User-Profile.svg" alt="icon"></span>User Profile
                                    <button><img src="assets/images/dropdown.svg" alt="icon"></button>
                                </a>
                                <div id="demo" class="collapse">
                                    <ul>
                                        <li><a>Rental History</a></li>
                                        <li><a>Payment History</a></li>
                                        <li><a>Credit History</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a><span><img src="assets/images/link.svg" alt="icon"></span>Link to
                                    Current Property</a></li>
                            <li><a><span><img src="assets/images/renter.svg" alt="icon"></span>Renter
                                    Application </a></li>
                            <li><a><span><img src="assets/images/report.svg" alt="icon"></span>Reports</a>
                            </li>
                            <li><a><span><img src="assets/images/logout.svg" alt="icon"></span>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-main">
                    <div class="dashboard-top">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="dash-left">
                                    <h3>Credit History</h3>
                                    <button>See Detail</button>
                                    <div class="graph"><img src="assets/images/graph.png" alt="img"></div>
                                    <h4>Your credit score is <strong>Excellent</strong></h4>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="dash-left currently-living">
                                    <h3>Currently living</h3>
                                    <div class="currently-img">
                                        <img src="assets/images/living-img.png" alt="img">
                                    </div>
                                    <div class="currently-text">
                                        <ul>
                                            <li>Property Name<br>
                                                Avenue Realty
                                            </li>
                                            <li>
                                                <h2>Date</h2>
                                                <h4><strong>From:</strong> 01 Sep, 2022</h4>
                                                <h4><strong>To:</strong> Till Date</h4>
                                            </li>
                                            <li>
                                                <h2>Address</h2>
                                                <h4>248 Broome St, New York, USA</h4>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="living-name">
                                        <p>Adam Smith<br>
                                            <strong>adamsmith@mail.com</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rental-history">
                        <h2>Rental History</h2>
                        <button>See All</button>
                        <div class="right-main-inn">
                            <div class="dashbord-main-inner">
                                <div class="table-responsive">
                                    <table class="table table-main">
                                        <thead>
                                            <tr>
                                                <th scope="col">Property Owner</th>
                                                <th scope="col">Property Name</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="info">
                                                    <span><img src="assets/images/img1.png"></span>
                                                    <p>Col. Roderick Decker<br>
                                                        <strong>samantha@mail.com</strong>
                                                    </p>
                                                </td>
                                                <td>Highrises Realty</td>
                                                <td><strong>From:</strong>01 Sep, 2021<br>
                                                    <strong>To:</strong>31 Aug, 2022
                                                </td>
                                                <td>
                                                    571 3rd Ave, New York, <br>NY 10016, United States
                                                </td>
                                                <td>
                                                    <button class="edit-btn"><img src="assets/images/edit.svg"></button>
                                                    <button class="del-btn del"><img src="assets/images/delete.svg"></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info">
                                                    <span><img src="assets/images/img1.png"></span>
                                                    <p>Col. Roderick Decker<br>
                                                        <strong>samantha@mail.com</strong>
                                                    </p>
                                                </td>
                                                <td>Highrises Realty</td>
                                                <td><strong>From:</strong>01 Sep, 2021<br>
                                                    <strong>To:</strong>31 Aug, 2022
                                                </td>
                                                <td>
                                                    571 3rd Ave, New York, <br>NY 10016, United States
                                                </td>
                                                <td>
                                                    <button class="edit-btn"><img src="assets/images/edit.svg"></button>
                                                    <button class="del-btn del"><img src="assets/images/delete.svg"></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info">
                                                    <span><img src="assets/images/img1.png"></span>
                                                    <p>Col. Roderick Decker<br>
                                                        <strong>samantha@mail.com</strong>
                                                    </p>
                                                </td>
                                                <td>Highrises Realty</td>
                                                <td><strong>From:</strong>01 Sep, 2021<br>
                                                    <strong>To:</strong>31 Aug, 2022
                                                </td>
                                                <td>
                                                    571 3rd Ave, New York, <br>NY 10016, United States
                                                </td>
                                                <td>
                                                    <button class="edit-btn"><img src="assets/images/edit.svg"></button>
                                                    <button class="del-btn del"><img src="assets/images/delete.svg"></button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rental-history payment-history">
                        <h2>Payment History</h2>
                        <button>See All</button>
                        <div class="right-main-inn">
                            <div class="dashbord-main-inner">
                                <div class="table-responsive">
                                    <table class="table table-main">
                                        <thead>
                                            <tr>
                                                <th scope="col">Property Owner</th>
                                                <th scope="col">Property Name</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Month</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="info">
                                                    <span><img src="assets/images/img2.png"></span>
                                                    <p>Adam Smith<br>
                                                        <strong>adamsmith@mail.com</strong>
                                                    </p>
                                                </td>
                                                <td>Avenue Realty</td>
                                                <td>$ 1500</td>
                                                <td>248 Broome St, New <br>York, United States
                                                </td>
                                                <td>Dec, 2022</td>
                                                <td><button class="due">Due</button></td>
                                                <td>
                                                    <button class="edit-btn"><img src="assets/images/edit.svg"></button>
                                                    <button class="del-btn del"><img src="assets/images/delete.svg"></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info">
                                                    <span><img src="assets/images/img2.png"></span>
                                                    <p>Adam Smith<br>
                                                        <strong>adamsmith@mail.com</strong>
                                                    </p>
                                                </td>
                                                <td>Avenue Realty</td>
                                                <td>$ 1500</td>
                                                <td>248 Broome St, New <br>York, United States
                                                </td>
                                                <td>Dec, 2022</td>
                                                <td><button class="due paid">Paid</button></td>
                                                <td>
                                                    <button class="edit-btn"><img src="assets/images/edit.svg"></button>
                                                    <button class="del-btn del"><img src="assets/images/delete.svg"></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info">
                                                    <span><img src="assets/images/img2.png"></span>
                                                    <p>Adam Smith<br>
                                                        <strong>adamsmith@mail.com</strong>
                                                    </p>
                                                </td>
                                                <td>Avenue Realty</td>
                                                <td>$ 1500</td>
                                                <td>248 Broome St, New <br>York, United States
                                                </td>
                                                <td>Dec, 2022</td>
                                                <td><button class="due paid">Paid</button></td>
                                                <td>
                                                    <button class="edit-btn"><img src="assets/images/edit.svg"></button>
                                                    <button class="del-btn del"><img src="assets/images/delete.svg"></button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>