<body>
    <main class="home">
        <section class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"><img src="assets/images/header-logo.svg"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Renters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Property</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Owners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">FAQ'S</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>

                        </ul>

                    </div>
                    <button (click)="openComponent('login')">Login</button>
                </nav>
            </div>
        </section>

        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="banner-left">
                            <h2>Control your rental and improve your rental data</h2>
                            <p>Real Estate's first blockchain platform to allow residents to keep their rental history
                                and control their credit reporting.</p>
                            <button>Learn More</button>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="banner-right">
                            <img src="assets/images/banner-img.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="service-left">
                            <ul>
                                <li>
                                    <span><img src="assets/images/service1.svg"></span>
                                    <h4>Boost your Credit by paying your Rent. </h4>
                                </li>
                                <li>
                                    <span><img src="assets/images/service2.svg"></span>
                                    <h4>Keep all your <br>Rental History. </h4>
                                </li>
                                <li>
                                    <span><img src="assets/images/service3.svg"></span>
                                    <h4>Transmit Rental Applications on the blockchain.</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="service-right">
                            <img src="assets/images/service-right.svg">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="credit">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="credit-left">
                            <h3>The Importance of your Rental History and Credit Score.</h3>
                            <p>Your payment history makes up about 35% of your credit score. Paying your bills on time
                                that you are a responsible person. Regardless of whether or not you have been late on
                                other payments in the past, reporting your rental payment history can make a big
                                difference in improving your credit. With a good credit score, you will be rewarded with
                                lower interest rates, better odds of approval, and lower deposits.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="credit-right">
                            <img src="assets/images/credit-img.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="your-partner">
            <div class="container">
                <h3>HomeU is your Partner</h3>
                <p>We have established relationships with all three major credit bureaus as well as thousands of
                    <br>property owners and landlords across the country. We make it easy for you to <br>take the first
                    steps to better credit and the life you want.takes the stress <br>and worry out of your credit
                    journey.</p>
            </div>
        </section>

        <section class="turbo">
            <div class="container">
                <div class="turbo-inner">
                    <h2>Credit Turbo Boost</h2>
                    <p>if you are just starting out on your credit journey or if you need a quick boost to<br> your
                        credit score, in some cases HomeU can report up to two years of previously unreported <br>rent
                        payments to the credit bureaus for you. This may be able to provide you with an <br>increase of
                        20 to 70 points to your credit score* in less than a month!</p>
                </div>
            </div>
        </section>

        <section class="partner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="partner-left">
                            <h3>Partner With Us</h3>
                            <p>Are you a property owner or management company who would like to offer credit reporting
                                solutions to your residents? Get in touch to find out how you can help tenants get a leg
                                up in the credit world and improve your on-time rent payment rates at the same time.</p>
                            <button>Find Out How</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="partner-right">
                            <img src="assets/images/partner-right.png">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="client">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="client-inner">
                            <img src="assets/images/client1.svg">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="client-inner">
                            <img src="assets/images/client2.svg">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="client-inner">
                            <img src="assets/images/client3.svg">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="client-inner">
                            <img src="assets/images/client4.svg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer">
            <div class="container">
                <p>*Rental payment information is considered in calculation of FICO 9 & 10 and VantageScore 3 & 4.
                    Changes in credit score are dependent upon each person's individual circumstances and are not
                    guaranteed.</p>
                <h5>All Copy Right Reserved 2022.</h5>
            </div>
        </section>

    </main>
</body>