
<div class="top-nav">
    <a href=""><img src="assets/images/header-logo.svg" alt="logo"></a>

    <div class="right-head-div">
        <div class="dropdown">
            <span><img src="assets/images/user-img.png" alt="img"></span>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3>Adam</h3>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><img src="assets/images/logout.png" alt="">Logout
                </a>

            </div>
        </div>
    </div>
</div>